.book-item{
  display: flex;
  height: 150px;
  margin: 0 30px;
  padding: 20px 0;

  a{
    color: #333333;
  }

  .cover{
    margin-right: 30px;
  }

  .info{
    display: flex;
    flex-direction: column;
    //width: 560px;
    height: 110px;

    .title{
      display: flex;
      height: 27px;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 14px;
      background: none;
      line-height: normal;
      color: #333!important;

      .title-text{
        margin-right: 60px;

        span{
          width: 20px;
          height: 20px;
          color: #fff;
          text-align: center;
          font-size: 12px;
          line-height: 20px;
          margin-right: 10px;
          display: inline-block;
          background-color: #F55;
        }

        a{
          font-size: 18px;
          color: #F55;
        }
      }

      .author{
        margin-right: 30px;
      }

      .category{
        height: auto;
      }

      .read-people{
        color: #626267;
      }
    }

    .desc{
      height: 45px;
      color: #626267;
      margin: 10px 0;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .last-update{
      span{
        color: #999;
      }
      a{
        color: #F55;
      }
    }
  }

  .operate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
  }
}