.book-info{
  display: flex;

  a{
    color: #333333;
  }

  .left-info{
    display: flex;
    width: 950px;
    height: 263px;
    padding: 20px 0 20px;
    background-color: #ffffff;
    border-right: 1px solid #E9E9E9;

    .cover{
      margin-right: 30px;
    }

    .info{
      flex: 1;
      padding-right: 30px;

      .title{
        display: flex;
        align-items: flex-end;

        .title-text{
          color: #F55;
          font-size: 24px;
          font-weight: 700;
          margin-right: 20px;
        }

        .author{
          color: #999;
          margin-right: 30px;
        }

        .category{
          color: #999;
          margin-right: 30px;
          height: auto;
          width: auto;
        }

        .score{
          margin-left: auto;
          span{
            font-size: 26px;
            color: #F55;
          }
        }
      }

      .desc{
        height: 53px;
        font-size: 12px;
        color: #929292;
        padding-right: 30px;
        margin-top: 18px;
        margin-bottom: 8px;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .update{
        a{
          color: #F55;
          margin-right: 20px;
        }

        span{
          color: #999;
          font-size: 12px;
        }
      }

      .operate{
        margin-top: 15px;

        button{
          margin-right: 20px;
        }
      }

    }
  }

  .right-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    padding-top: 40px;
    padding-left: 46px;

    div{
      span{
        margin-right: 10px;
      }
    }
  }
}