.top-head{
  display: flex;
  justify-content: center;
  background: #fff;

  .head {
    width: 1200px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      width: 220px;
      height: 55px;
    }

    .search-box{
      margin-left: 80px;
      width: 375px;
    }

    .head-list {
      display: flex;
      list-style: none;
      color: #929297;
      margin-bottom: 0;

      li{
        margin-right: 30px;

        .user:after {
          content: "|";
          margin: 0 5px;
        }
        .color-red{
          color: #f55;
        }
        .color-grey{
          color: #929297;
        }
        &:last-child{margin-right: 0}
      }
    }
  }

}