.rank-con{
  width: 290px;
  margin: 0 20px 20px 0;

  .title{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 8px;

    .title-text{
      font-size: 18px;
      font-weight: 700;
      color: #323237;
      flex: 1;

      &:before{
        display: inline-block;
        content: "";
        width: 4px;
        height: 20px;
        background-color: #f55;
        margin-right: 10px;
      }
    }

    .more{
      color: #929297;
      font-size: 12px;
    }
  }

  ul{
    list-style: none;
    margin-top: 15px;
    li{
      display: flex;
      margin-bottom: 10px;

      .no{
        width: 20px;
        height: 20px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        margin-right: 10px;
        display: inline-block;
        background-color: #ccc;
        &.isRed{
          background-color: #F55;
        }
      }

      .book-title{
        flex: 1;
        color: #626267;
      }

      .author{
        color: #333;
      }
    }
  }
}