.copyright{
  margin-top: 10px;
  padding-bottom: 30px;
  text-align: center;

  .copyright-line{
    margin-bottom: 30px;
    height: 10px;
    background-color: #F55;
  }

  .about-link{
    a{
      margin-right: 20px;
      color: #F55;
    }
  }

  .footer-info{
    color: #929297;
    line-height: 2em;
  }
}