.category{
  width: 240px;
  height: 370px;
  background-color: #fff;

  .title{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 13px;
    font-weight: 700;
    color: #323237;
    font-size: 18px;
  }

  .category-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li{
      width: 115px;
      height: 50px;
      line-height: 50px;
      text-align: center;

      a{
        color: #333;

        .name{
          color: #626267;
          font-weight: 700;
          margin-right: 5px;
        }

        .count{
          color: #999;
          font-size: 12px;
        }
      }
    }
  }
}